body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  height: 50px;
  width: 100%;
  background-color: rgb(32, 126, 133);
  display: grid;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 2rem;
}

header .icons span {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 3rem;
}

nav .nav-logo-container img {
  width: 220px;
  margin-top: 1rem;
}

nav .profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3rem;
}

nav .profile a {
  color: black;
  border-bottom: 1px solid black;
}

.home-main {
  height: 100vh;
  background-image: url("../img/Cover.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.home-main section {
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 3rem;
}

.home-main-text {
  font-size: 3rem;
  font-weight: 700px;
  letter-spacing: 10px;
  color: black;
  text-align: center;
}
