body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  height: 50px;
  width: 100%;
  background-color: rgb(60, 127, 138);
  display: grid;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 2rem;
}

header .header-icons-container .icons a {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
