@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: regular;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/assets/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
  font-style: normal;
  font-weight: regular;
}

body {
  margin: 0;
  padding: 0;
}

.home-body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  font-family: "Roboto";
}

.grid-container {
  max-width: 80vw;
  margin: auto;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  height: 50px;
  width: 100%;
  background-color: rgb(32, 126, 133);
  display: grid;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 2rem;
}

header .icons span {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  margin-left: 3rem;
}

nav .nav-logo-container img {
  width: 220px;
  margin-top: 1rem;
}

nav .profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3rem;
}

nav .profile a {
  color: black;
  border-bottom: 1px solid black;
}

.home-main {
  height: 100vh;
  background-image: url("../img/Cover.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.home-main section {
  display: grid;
  grid-column: 2;
  justify-items: center;
  height: 350px;
  margin-top: 3rem;
}

.home-main-text {
  font-size: 3rem;
  font-weight: 700px;
  letter-spacing: 10px;
  color: black;
  text-align: center;
  font-family: "Roboto Mono";
  color: white;
}

.home-main-button {
  width: 10rem;
  height: 50px;
  background-color: rgb(37, 110, 158);
  display: grid;
  align-items: center;
}

.home-main-button a {
  color: white;
  font-weight: 500;
  font-family: "Roboto";
  font-size: 18px;
  letter-spacing: 6px;
}

/* Blogs Main */

.blogs-main {
  display: grid;
}

.blogs-news-container {
  background-color: rgb(218, 218, 218);
  padding: 0 50px 40px;
}

.blogs-main-news {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}

.blogs-news-img-container {
  grid-column: 1;
}

.blogs-news-img-container img {
  width: 50vw;
}

.blogs-news-info-container {
  grid-column: 2;
}

.blogs-news-info-container p {
  margin-bottom: 35px;
}

.blogs-posts-container {
  padding: 0 50x 40px;
}

.blogs-posts-container h3 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Roboto";
}

.blogs-button {
  border: 1px solid rgb(23, 174, 194);
  padding: 0.6rem 1rem;
  font-size: 12px;
}

.blogs-posts-container .post-container {
  display: inline-block;
  padding-left: 10px;
  max-width: 30%;
  margin-bottom: 50px;
}

.blogs-posts-container .post-container p {
  margin-bottom: 35px;
}

.blogs-posts-container .post-container img {
  width: 100%;
}

footer {
  width: 100%;
  height: 80px;
  background-color: rgb(32, 54, 54);
  border-top: 35px solid rgb(33, 102, 99);
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto";
}
